{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Home</title>
<section class="home">
		<center>
			<font size="6">
				
<p>ABOUT ME </p>

			</font>
			<img src="{% static 'images/Profile_img.jpg' %}" width="200" height="200">
			<font size="4">
				
<p>"The truth is that pain itself is important, it is followed by education, but it happens at such a time that there is some great work and pain. For I will come to the bottom of it, no one should practice any kind of work unless he derives some advantage from it. he wants to be a hair of pain, let him run away from joy, and no one will give birth. Unless they are blinded by desire, they do not come out, they are in fault who abandon their duties, and the soul softens, that is toils."</p>

			</font>
		</center>
</section>
