{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Projects</title>
		<section class="project-area">
			<center>
			<font size="6">
				
<p>PROJECTS</p>

			</font>
				<div id="project" class="project-item">
					<h2>PROJECT 1 NAME</h2>
					
<p>The customer is very important, the customer will be followed by the customer. Vestibulum dignissim, wise and becoming vulputate, felis flatters fear, the life of eleifend players just but now. But as we now expect, the sceleris mauris sed, hendrerit neque. Morbi players do not need to be targeted. Now that it's a developer, it's time for a macro. Mauris lobortis felis elit, quis euismod urna lacinia vitae. Diseases sometimes spread to the ends of the throat. But for the kids, it's not always done. </p>

				</div>
				<div id="project" class="project-item">
					<h2>PROJECT 2 NAME </h2>
					
<p>The customer is very important, the customer will be followed by the customer. Vestibulum dignissim, wise and becoming vulputate, felis flatters fear, the life of eleifend players just but now. But as we now expect, the sceleris mauris sed, hendrerit neque. Morbi players do not need to be targeted. Now that it's a developer, it's time for a macro. Mauris lobortis felis elit, quis euismod urna lacinia vitae. Diseases sometimes spread to the ends of the throat. But for the kids, it's not always done. </p>

				</div>
			</div>
			</center>
		</section>
